.box-shadow, .toolbar, .dropdown-content, .image-wrapper {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(25, 25, 25, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(25, 25, 25, 0.75);
  box-shadow: 0px 0px 10px 4px rgba(25, 25, 25, 0.75); }

body, html {
  height: 100%;
  margin: 0;
  background-color: #1f1f1f; }

label {
  color: #f0f0f0; }

.inline-block {
  display: inline-block; }

.logoImg {
  width: 100px; }

.top-left-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5 !important;
  width: 50px;
  padding: 0 5px; }

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #171717;
  height: 50px;
  width: 100%;
  line-height: 50px;
  padding-left: 50px; }

.dropdown {
  display: inline-block;
  position: relative; }
  .dropdown:hover .dropdown-content {
    display: block; }

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: #171717;
  font-size: 13px;
  left: -20px; }

.dropdown-content a:hover {
  background-color: #3d3d3d; }

.dd-item {
  padding: 0 10px;
  display: block; }

.menu-wrapper {
  padding-top: 75px;
  background-color: #171717;
  height: 100vh;
  width: 220px;
  position: fixed;
  top: 0;
  z-index: 3; }

.menu-closed {
  right: -220px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.menu-open {
  right: 0;
  box-shadow: -1px 0 5px 1px rgba(25, 25, 25, 0.5);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.menu a {
  color: #f0f0f0; }
  .menu a:hover {
    background-color: #3d3d3d; }

.menu-hr {
  margin: 0;
  border-color: #233d4f; }

.menu .active {
  background-color: #233d4f; }

.menu-buttons {
  z-index: 3;
  top: 0;
  right: 5px;
  position: fixed; }

.menu-btn {
  color: #f0f0f0;
  line-height: 48px;
  font-size: 25px;
  padding: 0 15px;
  background-color: #171717;
  border-radius: 0; }
  .menu-btn:visited {
    background-color: #233d4f; }
  .menu-btn:hover {
    background-color: #233d4f; }
  .menu-btn:active {
    background-color: #233d4f; }

.close-menu-btn {
  padding: 5px 15px;
  color: #f0f0f0; }

.menu-heading {
  color: #f0f0f0;
  margin: 0;
  font-size: 18px; }

#signinModal {
  background-color: #233d4f;
  color: #f0f0f0; }

@media screen and (max-width: 760px) {
  .all-forms, .signin-form, .join-challenge-form, .challenge-form, .update-image-form {
    width: 320px; } }

.all-forms p, .signin-form p, .join-challenge-form p, .challenge-form p, .update-image-form p {
  margin: 0; }

.all-forms input, .signin-form input, .join-challenge-form input, .challenge-form input, .update-image-form input {
  margin: 0;
  border-radius: 0 !important;
  border: none; }

.all-forms button, .signin-form button, .join-challenge-form button, .challenge-form button, .update-image-form button {
  margin-top: 15px; }

.all-forms textarea, .signin-form textarea, .join-challenge-form textarea, .challenge-form textarea, .update-image-form textarea {
  resize: none;
  overflow: auto;
  border-radius: 0; }
  @media screen and (max-width: 760px) {
    .all-forms textarea, .signin-form textarea, .join-challenge-form textarea, .challenge-form textarea, .update-image-form textarea {
      height: 10em; } }
  @media screen and (max-width: 960px) and (min-width: 760px) {
    .all-forms textarea, .signin-form textarea, .join-challenge-form textarea, .challenge-form textarea, .update-image-form textarea {
      height: 15em; } }
  @media screen and (max-width: 1920px) and (min-width: 960px) {
    .all-forms textarea, .signin-form textarea, .join-challenge-form textarea, .challenge-form textarea, .update-image-form textarea {
      height: 15em; } }
  @media screen and (max-width: 2400px) and (min-width: 1920px) {
    .all-forms textarea, .signin-form textarea, .join-challenge-form textarea, .challenge-form textarea, .update-image-form textarea {
      height: 20em; } }

.all-forms select, .signin-form select, .join-challenge-form select, .challenge-form select, .update-image-form select {
  border-radius: 0;
  margin: 0; }

.social-signin {
  margin-top: 0; }

.content-wrapper {
  height: 100vh;
  color: #f0f0f0;
  background-color: #1f1f1f; }

.main-content {
  padding-top: 50px;
  background-color: #1f1f1f;
  min-height: calc(100vh - 50px); }

.callout-box {
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 0; }
  @media screen and (max-width: 960px) and (min-width: 760px) {
    .callout-box {
      max-width: 300px; } }
  @media screen and (max-width: 760px) {
    .callout-box {
      max-width: 200px; } }

.callout-hidden {
  visibility: hidden; }

.dark {
  background-color: #171717;
  color: #f0f0f0; }

.challenge {
  background-color: #464646;
  padding: 10px 0; }
  .challenge:hover {
    background-color: #5f5f5f;
    cursor: pointer; }

.challenge h3 {
  margin-bottom: 0; }

.challenge-image {
  margin: 25px; }
  .challenge-image:hover {
    cursor: pointer; }

.challenge-image img {
  margin: 10px; }

.drop-zone {
  width: 250px;
  height: 250px;
  border: 5px dashed;
  margin-bottom: 15px;
  font-size: 80px;
  color: #5f5f5f;
  text-align: center;
  line-height: 210px; }
  .drop-zone:hover {
    cursor: pointer; }

.drop-zone:hover {
  color: #4a81a7;
  border-color: #4a81a7; }

.hasVoted {
  color: #b0b0b0; }

.image-wrapper-outer {
  width: 100%;
  text-align: center; }

.image-wrapper {
  display: inline-block;
  position: relative; }
  .image-wrapper:hover .image-overlay {
    display: block; }

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.4);
  display: none;
  padding: 20px; }

.image-overlay h4 {
  margin: 0; }

.image-wrapper img {
  max-height: calc(100vh - 50px*2);
  display: inline-block;
  margin: 0 auto; }

.image-wrapper hr {
  margin: 0; }

.image-description {
  font-size: 14px;
  font-style: italic;
  margin: 0; }

.image-title h4, .image-title div {
  display: inline; }

.copyright {
  font-size: 14px;
  position: absolute;
  right: 25px;
  bottom: 0; }

@media screen and (min-width: 760px) {
  .left-image-info {
    text-align: left; } }

@media screen and (min-width: 760px) {
  .right-image-info {
    text-align: right; } }

.v-align-container {
  height: calc(100vh - 50px);
  white-space: nowrap;
  width: 100%; }

.v-align-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }

.v-align-inner {
  display: inline-block;
  vertical-align: middle;
  width: 100%; }

.ui-view-container {
  position: relative;
  z-index: 0; }

[ui-view] {
  min-height: calc(100vh - 50px); }

[ui-view].ng-enter,
[ui-view].ng-leave {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

[ui-view].ng-leave {
  opacity: 1; }

[ui-leave].ng-leave-active {
  opacity: 0; }

[ui-view].ng-enter {
  opacity: 0; }

[ui-view].ng-enter-active {
  opacity: 1; }

.off-canvas-content {
  box-shadow: none; }

.js-off-canvas-exit {
  background-color: transparent; }

.button {
  border-radius: 0; }
