<div ng-controller="challengesCtrl" class="">
    <div class="toolbar">
        Challenges
        <a ng-if="isAuthenticated()" ui-sref="createChallenge"><i class="fi-plus"></i> Create</a>
    </div>

    <div ng-click="toChallenge(challenge)" ng-repeat="challenge in challenges" class="row challenge">
        <div class="medium-12 columns">

            <h3>{{challenge.title}}</h3>
            <p><button ng-if="!hasVoted(challenge)" ng-click="vote(challenge); $event.stopPropagation();" class="secondary button"><span><i class="fi-arrow-up upvoteBtn"></i></span></button>
                <i ng-if="hasVoted(challenge)" class="fi-arrow-up upvoteBtn"></i></span>
                {{challenge.stats.votes.length}}
            </p>
            <p>{{challenge.description}}</p>
            <p>Contributions: {{challenge.stats.contributions.length}}</p>
            <p>Created by: {{challenge.createdBy.createdByName}}</p>

        </div>
    </div>

</div>
