<div ng-controller="challengesCtrl" class="">
    <div class="toolbar">
        Challenges |
        <span ng-if="isAuthenticated()"> <a ui-sref="createChallenge"><i class="fa fa-plus" aria-hidden="true"></i> Create</a> |</span>
        <div class="dropdown">
            <a><i class="fa fa-sort"></i> Sort</a>
            <div class="dropdown-content">
                <a class="dd-item" ng-click="sortByVotes()"><i class="fa fa-hand-spock-o"></i> Votes</a>
                <a class="dd-item" ng-click="sortByContributions()"><i class="fa fa-picture-o"></i> Contributions</a>
                <a class="dd-item" ng-click="sortByDate()"><i class="fa fa-calendar"></i> Date</a>
            </div>
        </div>
    </div>

    <div ng-click="toChallenge(challenge)" ng-repeat="challenge in challenges" class="row challenge">
        <div class="medium-12 columns">

            <h3>{{challenge.title}}</h3>
            <p class="image-description">{{challenge.category.name}}</p>
            <p>{{challenge.description}}</p>
            <div ng-if="isAuthenticated()">
                <a ng-if="!hasVoted(challenge)" ng-click="vote(challenge); $event.stopPropagation();"><i class="fa fa-hand-spock-o voteBtn"></i></a>
                <a ng-if="hasVoted(challenge)" ng-click="unVote(challenge); $event.stopPropagation();" class="hasVoted"><i class="fa fa-hand-spock-o voteBtn"></i></a>
                {{challenge.stats.votes.length}}
            </div>
            <div ng-if="!isAuthenticated()">
                <i class="fa fa-hand-spock-o"></i>
                {{challenge.stats.votes.length}}
            </div>
            <p><i class="fa fa-picture-o"></i> {{challenge.stats.contributions.length}}</p>
            <p class="image-description">Created by: {{challenge.createdBy.createdByName}}</p>

        </div>
    </div>

</div>
