<div ng-controller="imageCtrl">
    <div class="row">
        <div class="medium-12 columns">

            <img src="{{image.fileInfo.path}}" alt="{{image.description}}">
            <div class="imgOverlay">
                <h4>{{image.title}}</h4>
                <p>
                    <button ng-if="!hasVoted" ng-click="vote()" ng-model="isDisabled" class="secondary button"><i class="fi-arrow-up upvoteBtn"></i></button>
                    {{votes}}
                </p>
                <p>{{image.description}}</p>
                <p>Uploaded by: {{image.uploadedBy.name}}</p>
                <p>{{image.dateUploaded}}</p>
                <p>Challenge: {{challenge}}</p>
            </div>

        </div>
    </div>
</div>
