<div ng-controller="imageCtrl">
    <div class="toolbar">
        <a ng-click="toChallenge(challenge)">{{challenge.title}}</a> |
        {{image.title}} |
        {{image.uploadedBy.name}}
    </div>
    <div ng-if="image" class="row">
        <div class="medium-12 columns">

            <img ng-src="{{image.fileInfo.path}}" alt="{{image.description}}">
            <div class="imgOverlay">
                <h4>{{image.title}}</h4>
                <p>
                <div ng-if="isAuthenticated()">
                    <a ng-if="!hasVoted(image)" ng-click="vote()"><i class="fi-arrow-up voteBtn"></i></a>
                    <a ng-if="hasVoted(image)" ng-click="unVote()" class="hasVoted"><i class="fi-arrow-up voteBtn"></i></a>
                    {{image.stats.votes.length}}
                </div>
                <div ng-if="!isAuthenticated()">
                    <i class="fi-arrow-up upvoteBtn"></i>
                    {{image.stats.votes.length}}
                </div>
                </p>
                <p>{{image.description}}</p>
                <p>Uploaded by: {{image.uploadedBy.name}}</p>
                <p>{{image.dateCreated}}</p>
                <p>Challenge: <a ng-click="toChallenge(challenge)">{{challenge.title}}</a></p>
                <div ng-if="isCreator()">
                    <button ng-click="deleteImage(image)" class="button alert">Delete</button>
                </div>
            </div>

        </div>
    </div>
</div>
