<div ng-controller="imageCtrl">
    <div ng-if="image" class="page-wrapper">

        <div class="toolbar">
            <a ng-click="toChallenge(challenge)">{{challenge.title}}</a> |
            {{image.title}}
            <div class="inline-block" ng-if="isCreator()">
                <!--Tools-->
                <div class="dropdown">
                    | <a><i class="fa fa-cogs" aria-hidden="true"></i> Tools</a>
                    <div class="dropdown-content">
                        <a class="dd-item" ng-click="updateImage(image)"><i class="fa fa-pencil-square-o"></i>Update</a>
                        <a class="dd-item" ng-click="deleteImage(image)"><i class="fa fa-trash"></i>Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">

                <div class="v-align-container">
                    <div class="v-align-inner">

                        <div class="image-wrapper-outer">
                            <div class="image-wrapper">

                                <div class="row">
                                    <div class="medium-12 columns">
                                        <img ng-src="{{image.fileInfo.path}}" alt="{{image.title}}">
                                    </div>
                                </div>
                                <div class="image-overlay">
                                    <div class="row">
                                        <div class="medium-6 columns">
                                            <div class="left-image-info">
                                                <div class="image-title">
                                                    <h4>{{image.title}}</h4>
                                                    <div ng-if="isAuthenticated()">
                                                        <a ng-if="!hasVoted(image)" ng-click="vote()"><i class="fa fa-hand-spock-o voteBtn"></i></a>
                                                        <a ng-if="hasVoted(image)" ng-click="unVote()" class="hasVoted"><i class="fa fa-hand-spock-o voteBtn"></i></a>
                                                        {{image.stats.votes.length}}
                                                    </div>
                                                    <div ng-if="!isAuthenticated()">
                                                        <i class="fa fa-hand-spock-o upvoteBtn"></i>
                                                        {{image.stats.votes.length}}
                                                    </div>
                                                </div>
                                                <p class="image-description">{{image.location}} | <a ng-click="toChallenge(challenge)">{{challenge.title}}</a> | {{image.category.name}}</p>
                                                <hr>
                                                <p class="image-description">{{image.description}}</p>
                                            </div>
                                        </div>
                                        <div class="medium-6 columns">
                                            <div class="right-image-info">
                                                <p class="copyright"><i class="fa fa-copyright"></i>{{image.uploadedBy.name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
