<div ng-controller="challengeCtrl" class="">
    <div ng-if="challenge" class="toolbar">
        {{challenge.title}} |
        <!--Votes-->
        <span ng-if="!isAuthenticated()">
            <i class="fa fa-hand-spock-o"></i>
            {{challenge.stats.votes.length}} |
        </span>
        <span ng-if="isAuthenticated()">
            <a ng-if="!hasVoted(challenge)" ng-click="vote(challenge);"><i class="fa fa-hand-spock-o voteBtn"></i></a>
            <a ng-if="hasVoted(challenge)" ng-click="unVote(challenge);" class="hasVoted"><span><i class="fa fa-hand-spock-o voteBtn"></i></span></a>
            {{challenge.stats.votes.length}} |
        </span>
        <!--Sort-->
        <div class="dropdown">
            <a><i class="fa fa-sort" aria-hidden="true"></i> Sort</a>
            <div class="dropdown-content">
                <a class="dd-item" ng-click="sortByVotes()"><i class="fa fa-hand-spock-o"></i> Votes</a>
                <a class="dd-item" ng-click="sortByDate()"><i class="fa fa-calendar"></i> Date</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="medium-12 columns">
            <div ng-click="toImage(image)" ng-repeat="image in images" class="row challenge-image">
                <div class="medium-12 columns">

                    <div class="image-wrapper-outer">
                        <div class="image-wrapper">

                            <div class="row">
                                <div class="medium-12 columns">
                                    <img ng-src="{{image.fileInfo.path}}" alt="{{image.description}}">
                                </div>
                            </div>
                            <div class="image-overlay">
                                <div class="row">
                                    <div class="medium-6 small-12 columns left-image-info">
                                        <div class="image-title">
                                            <h4>{{image.title}}</h4>
                                            <div ng-if="isAuthenticated()">
                                                <a ng-if="!hasVoted(image)" ng-click="imageVote(image); $event.stopPropagation();"><i class="fa fa-hand-spock-o voteBtn"></i></a>
                                                <a ng-if="hasVoted(image)" ng-click="imageUnVote(image); $event.stopPropagation();" class="hasVoted"><i class="fa fa-hand-spock-o voteBtn"></i></a>
                                                {{image.stats.votes.length}}
                                            </div>
                                            <div ng-if="!isAuthenticated()">
                                                <i class="fa fa-hand-spock-o"></i>
                                                {{image.stats.votes.length}}
                                            </div>
                                        </div>
                                        <p class="image-description">{{image.location}} | {{image.category.name}}</p>
                                        <hr>
                                        <p class="image-description">{{image.description}}</p>
                                    </div>
                                    <div class="medium-6 columns right-image-info">
                                        <p class="copyright"><i class="fa fa-copyright"></i>{{image.uploadedBy.name}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
