<div ng-controller="challengeCtrl" class="">
    <div ng-if="challenge" class="toolbar">

        {{challenge.title}} |
        {{challenge.description}} |
        <span ng-if="isAuthenticated()">
            <a ng-click="joinChallenge()"><i class="fi-upload"></i> Upload</a> |
            <a ng-if="!hasVoted(challenge)" ng-click="vote(challenge); $event.stopPropagation();"><i class="fi-arrow-up voteBtn"></i></a>
            <a ng-if="hasVoted(challenge)" ng-click="unVote(challenge); $event.stopPropagation();" class="hasVoted"><span><i class="fi-arrow-up voteBtn"></i></span></a>
            {{challenge.stats.votes.length}} |
        </span>
        <span ng-if="!isAuthenticated()">
            <i class="fi-arrow-up"></i>
            {{challenge.stats.votes.length}} |
        </span>
        Sort by:
        <a ng-click="sortByVotes()">Votes</a> / <a ng-click="sortByDate()">Date</a> |
        <a ng-click="gotoLeaderboard(challenge)"><i class="fi-results-demographics"></i>Leaderboard</a></li></a>
        <span ng-if="isCreator(challenge)">
            | <a ng-click="deleteChallenge(challenge)" class="alert">Delete</a>
        </span>

    </div>
    <div class="row">
        <div class="medium-12 columns">
            <div ng-click="toImage(image)" ng-repeat="image in images" class="row challenge">
                <div class="medium-12 columns">

                    <img ng-src="{{image.fileInfo.path}}" alt="">
                    <p>
                    <div ng-if="isAuthenticated()">
                        <a ng-if="!hasVoted(image)" ng-click="imageVote(image); $event.stopPropagation();"><i class="fi-arrow-up voteBtn"></i></a>
                        <a ng-if="hasVoted(image)" ng-click="imageUnVote(image); $event.stopPropagation();" class="hasVoted"><i class="fi-arrow-up voteBtn"></i></a>
                        {{image.stats.votes.length}}
                    </div>
                    <div ng-if="!isAuthenticated()">
                        <i class="fi-arrow-up upvoteBtn"></i>
                        {{image.stats.votes.length}}
                    </div>
                    </p>
                    <p>{{image.title}}</p>
                    <p>{{image.description}}</p>
                    <p>Uploaded by: {{image.uploadedBy.name}}</p>

                </div>
            </div>
        </div>
    </div>

</div>
