<div ng-controller="challengeCtrl" class="">
    <div class="row">
        <div class="medium-12 columns">
            <h1>{{challenge.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <p>{{challenge.description}}</p>
            <button ng-if="isAuthenticated()" ng-click="joinChallenge()" type="button" class="hollow button"><i class="fi-upload"></i> Upload</button>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <div ng-repeat="image in images" class="row challenge">
                <div class="medium-12 columns">

                    <img ng-src="{{image.fileInfo.path}}" alt="">

                    <p>{{image.title}}</p>
                    <p>{{image.description}}</p>
                    <p>Upvoted: {{image.stats.upVoted}} times</p>
                    <p>Uploaded by: {{image.uploadedBy.name}}</p>

                </div>
            </div>
        </div>
    </div>

</div>
