<div ng-controller="leaderboardCtrl">
    <div class="toolbar">
        <a ng-click="toChallenge(challenge)">{{challenge.title}}</a> |
        <i class="fa fa-trophy"></i>Leaderboard
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <div class="v-align-container">
                <div class="v-align-inner">
                    <h3><i class="fa fa-trophy"></i>Most popular in <a ng-click="toChallenge(challenge)">{{challenge.title}}</a></h3>
                    <ol>
                        <li ng-repeat="image in top10"><a ng-click="toImage(image)" >{{image.title}} by: {{image.uploadedBy.name}} <i class="fa fa-hand-spock-o"></i> {{image.stats.votes.length}}</a></li>
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>
