<div ng-controller="homeController">
    <div class="toolbar">
        Home
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <div ng-click="toChallenge(challenge)" ng-repeat="challenge in challenges" class="row challenge">
                <div class="medium-12 columns">

                    <h3>{{challenge.title}}</h3>
                    <p>{{challenge.description}}</p>
                    <p>Contributions: {{challenge.stats.contributions.length}} Upvoted: {{challenge.stats.votes.length}}</p>
                    <p>Created by: {{challenge.createdBy.createdByName}}</p>

                </div>
            </div>
            <!--<h1>Hello {{ name }}! You are on the first page</h1>-->

            <!--<div>-->
                <!--<label>Your name:</label>-->
                <!--<input type="text" ng-model="name">-->
            <!--</div>-->

            <!--<div ng-show="name.length < 5">-->

                <!--You have less than 5 characters!-->

            <!--</div>-->
            <!--<div ng-show="name.length > 5">-->

                <!--You have more than 5 characters!-->

            <!--</div>-->

            <!--<hr>-->

            <!--<h3>Rules</h3>-->
            <!--<ul>-->
                <!--<li ng-repeat="rule in rules">{{rule.rulename}}</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>
