<div ng-controller="createChallengeCtrl" class="">
    <div class="toolbar">
        New Challenge <i class="fa fa-plus"></i>
    </div>
    <div class="row">
        <div class="medium-12 columns">

            <div class="v-align-container">
                <div class="v-align-inner">
                    <div class="dropdown">
                        <a>Show Tooltips <i class="fa fa-caret-down"></i></a>
                        <div class="dropdown-content">
                            <ul>
                                <li>Title must be unique</li>
                                <li>Be descriptive</li>
                                <li>Set restrictions. For example:
                                    <ul>
                                        <li>Must be black and white</li>
                                        <li>Must be taken with smartphone</li>
                                        <li>Must use flash</li>
                                        <li>... or whatever you fee like</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <form ng-submit="submit()" name="createChallenge" class="challenge-form" novalidate>
                        <div class="row">
                            <div class="medium-6 columns">
                                <input name="title" ng-model="title" type="text" placeholder="Title" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-6 columns">
                                <select name="category" id="category"
                                        ng-options="option.name for option in data.availableOptions track by option.id"
                                        ng-model="data.selectedOption" required>
                                    <option value="">Select Category &#x25BE;</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-6 columns">
                                <textarea name="description" ng-model="description" placeholder="Description..." required></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-6 columns">
                                <button ng-disabled="createChallenge.$invalid" type="submit" class="primary hollow button save"><i class="fa fa-plus"></i> Add Challenge</button>
                                <button class="alert hollow button" type="button" ui-sref="challenges"><i class="fa fa-times"></i> Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

</div>
