<!-- Menu -->
<div class="menu-wrapper menu-closed" id="menu">
    <ul class="vertical menu">
        <li><a ui-sref="home" ui-sref-active="active"><i class="fi-home"></i>Home</a></li>
        <li><a ui-sref="upload" ui-sref-active="active"><i class="fi-upload"></i>Upload</a></li>
        <li><a ui-sref="challenges" ui-sref-active="active"><i class="fi-camera"></i>Challenges</a></li>
        <li><a ui-sref="leaderboard" ui-sref-active="active"><i class="fi-results-demographics"></i>Leaderboard</a></li>
        <li><a ui-sref="signup" ui-sref-active="active"><i class="fi-torso"></i>Signup</a></li>
        <li><a ui-sref="about" ui-sref-active="active"><i class="fi-info"></i>About</a></li>
    </ul>
</div>

<div class="menu-buttons">
    <button type="button" class="secondary hollow button menu-btn" data-open="signinModal"><i class="fi-torso"></i> Sign In/up</button>
    <button type="button" class="secondary button menu-btn" id="menu-button"><i class="fi-list"></i></button>
</div>
