<!-- Menu -->
<div ng-controller="menuCtrl">
    <div ng-class="['menu-wrapper', {'menu-closed': !isOpen, 'menu-open': isOpen}]" id="menu" outside-click="hideSideMenu()">
        <ng-include ng-if="isAuthenticated()" src=tools()></ng-include>
        <ul class="vertical menu">
            <li><a ui-sref="challenges" ui-sref-active="active"><i class="fa fa-camera-retro"></i> Challenges</a></li>
            <li><a ui-sref="about" ui-sref-active="active"><i class="fa fa-info-circle"></i> About</a></li>
        </ul>
        <hr class="menu-hr">
        <ul class="vertical menu">
            <li ng-if="!isAuthenticated()"><a ui-sref="signin" ui-sref-active="active"><i class="fa fa-user"></i> Sign in</a></li>
            <li ng-if="!isAuthenticated()"><a ui-sref="signup" ui-sref-active="active"><i class="fa fa-user-plus"></i> Sign up</a></li>
            <li ng-if="isAuthenticated()"><a ui-sref="signout" ui-sref-active="active"><i class="fa fa-sign-out"></i> Sign out</a></li>
        </ul>
    </div>

    <div class="menu-buttons">
        <button ng-if="!isAuthenticated() && currentPage() !== '/signin'" type="button" class="menu-btn signin-button" ui-sref="signin"><i class="fa fa-user"></i> Sign In</button>
        <button ng-if="isAuthenticated()" ng-click="toggleNav($event)" type="button" class="menu-btn" id="menu-button"><i id="menu-icon" ng-class="['fa', {'fa-bars': !isOpen, 'fa-times': isOpen}]" aria-hidden="true"></i></button>
    </div>
</div>
