//SCSS Variables
$mainBG: #2c2c2c;
$menuBG: #233d4f;
$textColor: #f0f0f0;
$menuHover: lighten($menuBG, 25%);
$active: lighten($menuBG, 15%);
$challengeBG: lighten($mainBG, 15%);
$challengeBGHover: lighten($mainBG, 25%);

$tinyres: 320px;
$mobileres: 480px;
$phabletres: 760px;
$smallres: 960px;
$mediumres: 1200px;
$largeres: 1920px;
$xlres: 2400px;

$paddingTop: 20px;

//mixins
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.testColor {
    //color: #;
}

//Begin styles

//General
body, html {
    height: 100%;
    margin: 0;
    background-color: $mainBG;
}

label {
    color: $textColor;
}

//Site wrapper
.site-wrapper {
}

.logoImg {
    width: 100px;
}

//Toolbar Styles
.toolbar {
    position: fixed;
    top:0;
    left:0;
    background-color: #0a0a0a;
    height: $paddingTop;
    width: 100%;
}

//Menu Styles
.menu-wrapper {
    padding-top: $paddingTop*3;
    background-color: $menuBG;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    z-index: 3;
}
.menu-closed {
    right: -250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menu-open {
    right: 0;
    box-shadow: -1px 0 5px 1px rgba(25,25,25,0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menu a {
    color: $textColor;
    &:hover {
        background-color: $menuHover;
    }
}
.menu .active {
    background-color: $active;
}
.menu-buttons {
    z-index: 3;
    top: $paddingTop;
    right: 20px;
    position: absolute;
}
.close-menu-btn {
    padding: 5px 15px;
    color: $textColor;
}

//Sign in modal
#signinModal {
    background-color: $menuBG;
    color: $textColor;
}

.signin-form input {
    margin: 0;
    border-radius: 0!important;
    border: none;
}

.signin-form button {
    margin-top: 15px;
}

//Content Wrapper
.content-wrapper {
    height: 100vh;
    color: $textColor;
    background-color: $mainBG;
}

//Main content
.main-content {
    padding-top: $paddingTop;
    background-color: $mainBG;
    min-height: calc(100vh - #{$paddingTop});
}

//Signup
.signup {
    //@include vertical-align();
}

//Callout box
.callout-box {
    position: absolute;
    left: 15px;
    top: $paddingTop;
    @media screen and (max-width: $smallres) and (min-width: $phabletres) {
        max-width: 300px;
    }
    @media screen and (max-width: $phabletres) {
        max-width: 200px;
    }

}
.callout-hidden {
    visibility: hidden;
}

//Challenges styles
.challenge {
    background-color: $challengeBG;
    &:hover {
        background-color: $challengeBGHover;
        cursor: pointer;
    }
}

.join-challenge-form input {
    margin: 0;
    border-radius: 0!important;
    border: none;
}

.drop-zone {
    width: 250px;
    height: 250px;
    border: 5px dashed;
    margin-bottom: 15px;
    font-size: 80px;
    color: $challengeBGHover;
    text-align: center;
    line-height: 210px;
    &:hover {
        cursor: pointer;
    }
}

//Animate UI
.ui-view-container {
    position: relative;
    z-index: 0;
}
[ui-view] {
    min-height: calc(100vh - #{$paddingTop});
}
[ui-view].ng-enter,
[ui-view].ng-leave {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;

}
[ui-view].ng-leave {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
[ui-leave].ng-leave-active {
    opacity: 0;
}
[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform: scale3d(0.96, 0.96, 0.96);
    -moz-transform: scale3d(0.96, 0.96, 0.96);
    transform: scale3d(0.96, 0.96, 0.96);
}
[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

//Foundation built in classes override
.off-canvas-content {
    box-shadow: none;
}
.js-off-canvas-exit {
    background-color: transparent;
}
