<div ng-controller="updateChallengeCtrl">
    <div class="page-wrapper">
        <div class="toolbar">
            {{challenge.title}} <i class="fa fa-pencil-square-o"></i>
        </div>
        <div class="row">
            <div class="medium-12 columns">

                <div class="v-align-container">
                    <div class="v-align-inner">

                        <div class="row">
                            <div class="columns">
                                <form ng-submit="submit()" name="updateImage" class="update-image-form" novalidate>
                                    <div class="row">
                                        <div class="columns">
                                            <p>{{challenge.title}}</p>
                                            <select name="category" id="category"
                                                    ng-options="option.name for option in data.availableOptions track by option.id"
                                                    ng-model="data.selectedOption" required>
                                            </select>
                                            <textarea name="description" ng-model="description"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="columns">
                                            <button ng-disabled="updateImage.$invalid" type="submit" class="primary hollow button save"><i class="fa fa-floppy-o"></i> Save</button>
                                            <button type="button" class="alert hollow button" ng-click="toChallenge()"><i class="fa fa-times"></i> Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="medium-3 columns">
                                <img ng-src="{{image.fileInfo.path}}" alt="{{image.title}}">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
