<div ng-controller="updateChallengeCtrl">
    <div class="page-wrapper">

        <div class="toolbar">
            {{image.title}}
            <div class="inline-block">
                <!--Tools-->
                <div class="dropdown">
                    | <a><i class="fa fa-cogs" aria-hidden="true"></i> Tools</a>
                    <div class="dropdown-content">
                        <a class="dd-item" ng-click="deleteImage(image)"><i class="fa fa-trash"></i>Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">

                <div class="v-align-container">
                    <div class="v-align-inner">

                        <div class="row">
                            <div class="columns">
                                <form ng-submit="submit()" name="updateImage" class="update-image-form" novalidate>
                                    <div class="row">
                                        <div class="columns">
                                            <input name="title" ng-model="title" type="text" placeholder="{{challenge.title}}" required>
                                            <textarea name="description" ng-model="description"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="columns">
                                            <button ng-disabled="updateImage.$invalid" type="submit" class="secondary hollow button save"><i class="fa fa-floppy-o"></i> Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="medium-3 columns">
                                <img ng-src="{{image.fileInfo.path}}" alt="{{image.title}}">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
