<div ng-controller="signinCtrl">
    <div class="toolbar">
        <a ui-sref="home">ShutterSnappy</a> | Sign In
    </div>

    <div class="v-align-container">
        <div class="v-align-inner">
            <div class="medium-12 columns">

                <form ng-submit="submit()" name="signin" class="signin-form" novalidate>
                    <div class="row">
                        <div class="columns">
                            <h3><i class="fa fa-user"></i>Sign In</h3>
                            <p>Quick sign in with Google+ or Facebook</p>
                            <button type="button" class="hollow button social-signin" ng-click="authenticate('google')" data-close><i class="fa fa-google-plus"></i> Google</button>
                            <button type="button" class="hollow button social-signin" ng-click="authenticate('facebook')" data-close><i class="fa fa-facebook-official"></i> Facebook</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                            <input name="email" ng-model="email" type="email" placeholder="Email" required>
                            <p class="help-block" ng-show="signin.email.$dirty && signin.email.$invalid">Please enter valid email address</p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                            <input name="password" ng-model="password" type="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                            <button ng-disabled="signin.$invalid" type="submit" class="secondary hollow button" data-close>Sign in</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                            <p>Or <a ui-sref="signup" data-close aria-label="Close modal">sign up now</a> to start improving your photography.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
