<div>
    <div class="toolbar">
        <a ui-sref="home">ShutterSnappy</a> | About
    </div>
    <div class="row">
        <div class="medium-8 columns">
            <h1>About</h1>
            <p>I'm going to do something you shouldn't do here. I'm going to tell you everything <strong>we're not</strong> in order for me to tell you what <strong>we are</strong>.</p>
            <p>ShutterSnappy is not another Instagram or just another photoblog site. We're not a Pinterest and we're definitely not Facebook.</p>
            <h3>So what are we?</h3>
            <p>Well, ShutterSnappy is yours. It's a community for photographers to learn from each other and teach each other. It's also a great way for that inner narcissist of yours to shine as
            you're getting appreciation from your fellow photographers.</p>
            <p>ShutterSnappy encompasses the entire spectrum of photographers, from amateur to professional.</p>
            <p>If you're brand new to the game with nothing but a smartphone and your own eyes you can challenge yourself with the challenges, read articles and learn from other people. Take in the
            comments on your photos, even if someone tells you your photo isn't as good as you had thought yourself; it's an even better chance to learn.</p>
            <p>If on the other hand you are a seasoned veteran making a living as a photographer this is your chance to shine, and to share with the community. It is my core belief that a strong
            community is what will benefit the field of photography the most, especially in this age of "anyone can take a photo". Share your masterpieces in the challenges, start new challenges
            for amateurs and find out who people like better: you or your nemesis. Write articles with tips and let the community have their say in how good it was with votes. Wonder what the point is?
            I don't know, maybe give something back? I'm sure you didn't just figure everything out on your own. If you feel guarded about your knowledge as you spent years perfecting your skill and
            paying for courses and maybe even university you can always advertise a product of your own (a book, a video) for all I care.</p>
            <p>This app was created as a project by <a ng-click="$event.stopPropagation()" href="https://github.com/beppek" target="_self"><i class="fi-social-github"></i>beppek</a>
                at Linnaeus University.</p>
            <p>Just remember: the purpose is learning.</p>
            <p>Membership is of course free and always will be. So don't be shy, <a ui-sref="signup">join us</a> today and benefit from challenging your photography alongside others.</p>
        </div>
    </div>
</div>
