<div">
    <div class="row">
        <div class="medium-8 columns">
            <h1>About SlideZapp</h1>
            <p>This app was created as a project by <a ng-click="$event.stopPropagation()" href="https://github.com/beppek" target="_self"><i class="fi-social-github"></i>beppek</a>
                at Linnaeus University. The idea behind the app is to provide an outlet for photographers to grow their skill in a social setting with a little bit of friendly competition.</p>
            <p>Challenges are added on a regular basis and they are always open for anyone to join. Members and visitors can then vote for their favorites and watch them climb to the top of the
                <a ui-sref="leaderboard">leaderboards</a>.</p>
            <p>Members are also able to leave a comment on photos, maybe with a few pointers or simply to give a virtual high five for a job well done. Remember: the purpose is learning.</p>
            <p>Membership is of course free and always will be. So don't be shy, <a ui-sref="signup">join us</a> today and benefit from challenging your photography alongside others.</p>
        </div>
    </div>
</div>
