<div ng-controller="joinChallengeCtrl" class="">
    <div ng-if="challenge" class="toolbar">

        <a ng-click="toChallenge(challenge)">{{challenge.title}}</a> |
        {{challenge.description}} |
        <a ng-click="gotoLeaderboard(challenge)"><i class="fi-results-demographics"></i>Leaderboard</a></li></a>

    </div>
    <div class="row">
        <div class="medium-12 columns">
            <h1>{{challenge.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <p>{{challenge.description}}</p>
        </div>
    </div>

    <div class="row">
        <div class="medium-12 columns">

            <form ng-submit="submit()" name="joinChallenge" class="join-challenge-form" novalidate>
                <div class="row align-center">
                    <div class="medium-6 columns">
                        <input name="title" ng-model="title" type="text" placeholder="Title" required>
                        <textarea name="description" ng-model="description" placeholder="Description..." required></textarea>
                    </div>
                    <div class="medium-6 columns">
                        <img ngf-thumbnail="image || '/assets/img/placeholder.png'">
                    </div>
                </div>
                <div class="row align-center">
                    <div class="medium-4 columns">
                        <div ngf-change="validateImage()" ngf-select ngf-drop ng-model="image" class="drop-zone" name="image" ngf-pattern="'image/jpeg'" ngf-accept="'image/jpeg'" ngf-max-size="1MB" ngf-min-height="100"><i class="fi-upload"></i></div>
                    </div>
                    <div class="medium-8 columns">
                        <button ng-disabled="joinChallenge.$invalid" type="submit" class="secondary hollow button save"><i class="fi-save"></i> Save</button>
                    </div>
                </div>
            </form>


        </div>
    </div>

</div>
