<div ng-controller="joinChallengeCtrl" class="">
    <div class="row">
        <div class="medium-12 columns">
            <h1>{{challenge.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <p>{{challenge.description}}</p>
        </div>
    </div>

    <div class="row">
        <div class="medium-12 columns">

            <form ng-submit="submit()" name="joinChallenge" class="join-challenge-form" novalidate>
                <div class="row align-center">
                    <div class="medium-6 columns">
                        <input name="title" ng-model="title" type="text" placeholder="Title" required>
                    </div>
                </div>
                <div class="row align-center">
                    <div class="medium-6 columns">
                        <textarea name="description" ng-model="description" placeholder="Description..." required></textarea>
                    </div>
                </div>
                <div class="row align-center">
                    <div class="medium-6 columns">
                        <button ng-disabled="joinChallenge.$invalid" type="submit" class="secondary hollow button save"><i class="fi-upload"></i> Upload</button>
                    </div>
                </div>
            </form>


        </div>
    </div>

</div>
